body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.header,
.hero,
.footer {
    background-color: #1F2937
}

.header {
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 32px;
}

.logo {
    font-size: 24px;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    display: flex;
    padding: 128px 300px;
    gap: 10px;
}

.hero .left,
.hero .right {
    flex: 1;
}

.hero .left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 18px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 30px;
}

.cards {
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 24px;
    margin-bottom: 64px;
    li {
        flex: 1;
    }
    img {
        width: 180px;
        height: auto;
        border: 4px solid #3882F6;
    }
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 80px 256px;
    .sentence {
        font-size: 36px;
        color: #1F2937;
        font-weight: 300;
        font-style: italic;
    }
    .author {
        align-self: flex-end;
        font-weight: bold;
        font-size: 25px;
    }
}

.call {
    margin: 128px 256px;
    padding: 48px 128px;
    background-color: #3882F6;
    color: white;
    display: flex;
    align-items: center;

    p {
        margin: 0px;
        padding: 0px;
    }

    .left {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .big {
            font-size: 28px;
            font-weight: bold;
        }
        .small {
            
            color: #eeeeee;
        }
    }
    .right {
        flex: 1;
    }

    button {
        border: 2px solid white;
    }
}